.comment {
    margin-bottom: 10px;
}

.comment-author {
    font-size: small;
    padding: 5px 10px;
}

.comment-date {
    font-size: smaller;
    padding-left: 5px;
}

.comment-content {
    padding: 8px 10px;
}

.comment-content img {
    max-width: 200px;
}

#btn-send {
    margin-top: -10px;
    margin-bottom: 20px;
}
