#login {
    display: none;
}

#admin {
    margin-top: 30px;
}

#alert {
    margin-top: 40px;
    margin-bottom: -92px;
    display: none;
}

#token {
    margin-top: 120px;
}

.story {
    margin-top: 20px;
    margin-bottom: 40px;
}

span.glyphicon-pencil {
    font-size: medium;
    margin-left: 5px;
    cursor: pointer;
}

span.glyphicon-trash {
    font-size: medium;
    cursor: pointer;
}

span.glyphicon-smaller {
    font-size: smaller;
    margin-left: 5px;
}

.comments-link {
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -10px
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.modal-body > p {
    margin-top: 10px;
}
